doctype html
html(lang='en')
    head
        // Required meta tags
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        // Bootstrap CSS
        link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')
        link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.5.0/css/all.css', integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU', crossorigin='anonymous')
        link(href='/css/mdb.min.css', rel='stylesheet')
        link(href='/css/style.css', rel='stylesheet')
        title #{title}
    body
        header
            // Main Navigation
            // Navbar
            nav.navbar.navbar-expand-lg.navbar-dark.fixed-top
                .container
                    // Navbar brand
                    a.navbar-brand.thicker(href='/home') RIDE
                    // Collapse button
                    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#basicExampleNav', aria-controls='basicExampleNav', aria-expanded='false', aria-label='Toggle navigation')
                        span.navbar-toggler-icon
                    // Collapsible content
                    #basicExampleNav.collapse.navbar-collapse
                        // Links
                        ul.navbar-nav.mr-auto
                            li.nav-item
                                a.nav-link(href='/home')
                                    | Home
                                    span.sr-only (current)
                            li.nav-item
                                a.nav-link(href='/about')
                                    | About
                                    span.sr-only 
                            li.nav-item
                                a.nav-link(href='/contact')
                                    | Contact
                                    span.sr-only 
                            // Dropdown
                            li.nav-item.dropdown
                                a#navbarDropdownMenuLink.nav-link.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Trips
                                .dropdown-menu.dropdown-primary(aria-labelledby='navbarDropdownMenuLink')
                                    a.dropdown-item(href='/ride') Ride as a Passenger
                                    a.dropdown-item(href='/drive') Drive
                        // Links
                        ul.navbar-nav.inline
                            if (user)
                                li.nav-item
                                    a.nav-link(href='/profile')  #{user.firstName} #{user.lastName} 
                                        i.fas.fa-user-circle.float-left.mr-2.mt-1
                                li.nav-item
                                    a.nav-link(href='/logout') Sign Out
                                        i.fas.fa-sign-out-alt.float-left.mr-2.mt-1
                            else
                                li.nav-item    
                                    a.nav-link(href='/login') Log In
                                        i.fas.fa-sign-in-alt.float-left.mt-1.mr-2
                                li.nav-item
                                    a.nav-link(href='/register') Register
                                        i.fas.fa-user-plus.float-left.mt-1.mr-2

                    // Collapsible content
            #intro.view
                .mask.rgba-black-light
                    .container-fluid.align-items-left.justify-content-left.h-10            
                        br
                        // Heading
                        h2.display-5.font-weight-bold.white-text.pt-5.ml-3.text-left #{user.firstName} #{user.lastName}
                        // Divider
                        hr.hr-light
                        .row.d-flex.justify-content-left.text-left
                            .col-md-3      
                                .container-fluid.mb-2
                                    .panel.panel-default.searchList.mt-2
                                        .panel-body.text-left.searchList.profile
                                            img.m-2.driver(src='https://www.w3schools.com/w3images/avatar2.png', width='60', height='60')
                                            h5 #{user.firstName} #{user.lastName}                    
                                            hr.hr-light.driver    
                                            a(href='profile')
                                                h5 
                                                    i.fas.fa-user-alt  Profile                        
                                            hr.hr-light
                                            p
                                                a(data-toggle='collapse', href='#collapseExampleRides', role='button', aria-expanded='false', aria-controls='collapseExample')
                                                    h5 
                                                        i.fas.fa-suitcase   Booked Trips                          
                                            #collapseExampleRides.collapse
                                                .card.card-body.trips
                                                    a(href='/upcomingPassengerTrips')
                                                        h6 Upcoming
                                                    a(href='/pastPassengerTrips')
                                                        h6 Past
                                            hr.hr-light
                                            p
                                                a(data-toggle='collapse', href='#collapseExample', role='button', aria-expanded='false', aria-controls='collapseExample')
                                                    h5 
                                                        i.fas.fa-car  Posted Trips              
                                            #collapseExample.collapse
                                                .card.card-body.trips
                                                    a(href='/upcomingDriverTrips')
                                                        h6 Upcoming
                                                    a(href='/pastDriverTrips')
                                                        h6 Past
                                            hr.hr-light
                                            a(href='/messages')
                                                h5 
                                                    i.fas.fa-envelope   Messages
                                            hr.hr-light
                                            a(href='/notifications')
                                                h5 
                                                    i.fas.fa-comment   Notifications
                            block content
        // Optional JavaScript
        // jQuery first, then Popper.js, then Bootstrap JS
        script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
        script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')   
        script(src='/js/customize.js')
        script(src='/js/stepper.js')     
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDlTOiBRWrnG4nqXFdZeoxmU_bAFE1FHHE&libraries=places') 
        
        
